<div class="row">
    <% if current_user.appointments.size.zero? %>
        <div class="col-12">
            <h2> No appointments yet</h2>
        </div>
        <div class="col-12">
            <%= link_to "Find a dentist now", root_url, class: "btn btn-success"  %>
        </div>
    <% else %>
        <h2 class="col-12">Your Appointments</h2>
        <% current_user.appointments.each do |appointment| %>
            <div class="col">
                <div class="card p-5">
                    <p>Appointment in: <%= appointment.dentist.name %> On <%= appointment.start_date.to_formatted_s(:long_ordinal) %></p>
                </div>
            </div>
        <% end %>
    <% end %>
</div>